.popupContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupContent__logo {
  width: 155px;
  height: 155px;
  margin-bottom: 16px;
}

.popupContent__text {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: var(--Base-Black);
}

.popupContent__textSpan {
  color: var(--Base-Carrot);
}
