.filterDirection{
    display: flex;
    height: 44px;
    border: 2px solid white;
    border-radius: 4px;
    justify-content: space-between;
    padding-left: 10px;
}

.filterDirection__button{
    width: 48px;
    height: 48px;
    background-image: url(../../assets/images/reset.svg);
    display: block;
    background-size: contain;
}