.section {
  display: flex;
  flex-direction: column;
  background-color: var(--Base-Black);
}

.mainPage {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--max-desktop-width);
}

.mainPage__content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.mainPage__profileInfo {
  display: grid;
  grid-template-columns: 80px 234px;
  grid-template-rows: 80px;
  justify-content: space-between;
  width: 343px;
  margin: 0 auto 28px;
  row-gap: 8px;
}

.mainPage__avatar {
  grid-column: 1;
  grid-row: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.mainPage__name {
  width: max-content;
  grid-column: 1/2;
  grid-row: 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

.mainPage__profileDataList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 234px;
}

.mainPage__profileDataItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage__profileDataText {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.mainPage__profileDataValue {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.mainPage__subscribe {
  width: 155px;
  margin-bottom: 28px;
}

.mainPage__achievementSection {
  width: 343px;
  height: 124px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  margin-bottom: 28px;
}

.mainPage__achievementHeader {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  padding: 0;
  margin: 0;
  grid-column: 1;
}

.mainPage__achievementAbout {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../../assets/images/profile/help.svg');
  grid-column: 2;
  justify-self: end;
  padding: 0;
}

.mainPage__achievementList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  grid-column: 1/2;
  grid-row: 2;
}

.mainPage__achievementItem {
  width: 70px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainPage__achievementCaption {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

.mainPage__achievementImg {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.mainPage__publicationsList {
  flex: 1 1 auto;
}

.mainPage__eventsList {
  list-style: none;
  padding: 0;
  margin-bottom: 73px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  min-height: 606px;
}
.mainPage__eventsItem {
  background-color: var(--Base-White);
  width: 163px;
  height: 185px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainPage__eventsTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: var(--Base-Black);
  margin: 0;
  padding: 0;
}

.mainPage__eventsDoneText {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: var(--System-Success);
  text-decoration: underline;
  text-underline-offset: 4px;
  padding: 0;
  margin: 0;
}
