.modal {
  width: 375px;
  box-sizing: border-box;
  padding: 0px;
  background-color: var(--Popup-overlay);
  z-index: 5;
  display: none;
  position: fixed;
  top: 0;
}

.modal_active {
  display: block;
}

.modal__overlay {
  width: 375px;
  height: 100vh;
}

.modal__content {
  position: absolute;
  bottom: 0;
  width: 375px;
  background-color: var(--Base-Black);
  border-radius: 12px 12px 0px 0px;
  border-top: 2px solid var(--Base-White);
  border-right: 2px solid var(--Base-White);
  border-left: 2px solid var(--Base-White);
  padding: 16px 16px 32px;
  box-sizing: border-box;
  z-index: 6;
}

.modal__content:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 172.5px;
  width: 30px;
  height: 4px;
  background-color: var(--light-neutrals-300);
  border-radius: 12px;
}

.modal__closeButton {
  width: 30px;
  height: 30px;
  padding: 8.75px;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url(../../assets/images/modal/close_small.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
