.navbar {
  position: fixed;
  bottom: 0;
  height: 56px;
  width: 375px;
  color: aqua;
  padding: 2px 36px 25px;
  box-sizing: border-box;
  background-color: var(--Base-Black);
}

.navList {
  display: flex;
  list-style: none;
  height: 32px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  padding: 4px 16px;
  box-sizing: border-box;
  border-radius: 40px;
  width: 56px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.navItem_active {
  background-color: var(--Opacity-Carrot20);
}
