.editProfile__select-container {
  margin-top: 16px;
  margin-bottom: 52px;
}

.editProfile__control {
  border: 2px solid var(--Base-White);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.editProfile__menu {
  background-color: var(--Base-White);
  color: var(--Base-Black);
}
