.actionButtonContainer {
  width: 100%;
}

.actionButton {
  color: var(--Base-White);
  width: 100%;
  margin: 0 auto;
  height: 48px;
  border: none;
  background-color: var(--Base-Carrot);
  padding: 10px 24px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  transition: all 0.3s ease;
}

.actionButton:active {
  transition: all 0.3s ease;
}

.actionButton_size_s {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  height: 40px;
}

.actionButton_color_black {
  color: var(--Base-Black);
}

.actionButton_secondary {
  border: 1px solid var(--Base-Carrot);
  background-color: transparent;
}


.actionButtonDownload {
  margin-bottom: 25px;
}

.actionButton_download {
  position: absolute;
  width: 311px;
  text-align: center;
}